<style>
    body {
        background-image: url('/img/site-images/pokerpage.png');

    }
</style>
 <nav>
    
        <div id="logo-div">
             <img class="homepage-logo" src="/img/site-images/Beginners-Luck.svg" id="logo-homer">
            <ul class="homepage-current-wallet">
            <li>
            <p class="wallet-value">${{user.wallet}}</p>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
            </ul>
        </div>
     
   
</nav>
<main class="homepage-main">

    <div class="start-game-container">
        <div class="title">Three Card Poker</div>
        <div class="start-game-btn">
            Start Game!
        </div>
    </div>
</main>

 <script src="/js/homepage.js"></script>