<main class="homepage-main">
    <img class="homepage-backgroud" src="public/img/site-images/pokerpage.png">
    <div class="homepage-header">
        <div>
            <img class="homepage-logo" src="public/img/site-images/Beginners-Luck.svg">
        </div>
        <div class="homepage-current-wallet">
            <p class="wallet-value">Wallet:</p>
        </div>
        <div class="username">
        </div>
    </div>
</main>