<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    body {
  background-image: url('../public/img/site-images/pokerpage.png');

}

.centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid;
        backdrop-filter: contrast(8%);
        border-radius: 25px;
        padding: 2%;
    }
.centered-text {}
</style>
<h1 class="text-center">Player Profile</h1>
<div class="card-group shadow-sm  centered">
<div class="card shadow-sm bg-info" style="width: 18rem;">
    <div class="card-header">
      Player Info
    </div>
    <ul class="list-group bg-info list-group-flush">
      <li class="list-group-item bg-info">Name:</li>
      <li class="list-group-item bg-info">User Name:</li>
      <li class="list-group-item bg-info">Email:</li>
      <li class="list-group-item bg-info">Password:</li>
    </ul>
  </div>
  <div class="card shadow-sm bg-info" style="width: 18rem;">
    <div class="card-header bg-info">
      Player Stats
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-info">Wallet:</li>
      <li class="list-group-item bg-info">Rank:</li>
      <li class="list-group-item bg-info">Hands Won:</li>
      <li class="list-group-item bg-info">Hands Lost:</li>
      <li class="list-group-item bg-info">Money Won:</li>
      <li class="list-group-item bg-info">Money Lost:</li>
    </ul>
  </div>
</div>
  <script src="./js/profile.js"></script>