<div>
    <h3>Welcome, {{ }}!</h3>
</div>

<div>
    <p>User Information</p>
    <ul>
        <li>Name: {{ }}</li><button>edit</button>
        <li>Email: {{ }}</li><button>edit</button>
        <li>User Name: {{ }}</li><button>edit</button>
        <li>Password: {{ }}</li><button>edit</button>
    </ul>
</div>

<div>
    <p>User Stats</p>
    <ul>
        <li>Wallet: {{ }}</li>
        <li>Rank: {{ }}</li>
        <li>Hands Won: {{ }}</li>
        <li>Hands Lost: {{ }}</li>
        <li>Money Won: {{ }}</li>
        <li>Money Lost: {{ }}</li>
    </ul>
</div>


