<style>
    body {
        background-image: url('/img/site-images/pokerpage.png');

    }
</style>
 <nav>
    
        <div id="logo-div">
             <img class="homepage-logo" src="/img/site-images/Beginners-Luck.svg" id="logo-homer">
            <ul class="homepage-current-wallet">
            <li>
            <p class="wallet-value">${{wallet}}</p>
            </li
            <li>
                <a href="#">Logout</a>
            </li>
            </ul>
        </div>
    
</nav>
<main>
    <div class="game-background">
        <img src="/img/site-images/poker-table.png" alt="" class="poker-table">
    </div>

    <div>
        <button type="button" class="btn play-btn">Play Round</button>
    </div>
    <div>
        <button type="button" class="btn ante-btn">Ante</button>
    </div>
    <div class="card-container">
<img src="/img/cards/2_of_clubs.svg" data-card="players-card" class="resize-card"  width="100" 
     height="200">
<img src="/img/cards/4_of_diamonds.svg" data-card="players-card" class="resize-card" width="100" 
     height="200">
<img src="/img/cards/ace_of_hearts.svg" data-card="players-card" class="resize-card" width="100" 
     height="200">
</div>
</main>

<script src="/js/threecardGame.js"></script>

