<style>
    body {
        background-image: url('/img/site-images/pokerpage.png');

    }
</style>
 <nav>
    
        <div id="logo-div">
             <img class="homepage-logo" src="/img/site-images/Beginners-Luck.svg" id="logo-homer">
            <ul class="homepage-current-wallet">
            <li>
            <p class="wallet-value">${{wallet}}</p>
            </li>
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
            </ul>
        </div>
     
   
</nav>



<div class="card-container">
{{!-- <img src="img/cards/{{card1}}" data-card="players-card">
<img src="img/cards/{{card2}}" data-card="players-card">
<img src="img/cards/{{card3}}" data-card="players-card"> --}}
</div>