.profile-background {
    background-image: url();
}



.logo-navbar {
    height: 7%;
    width: 9%;
}

/* .homepage-backgroud {
    background-image: url('../public/img/site-images/loginbackground.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}; */