
<div class="card-container">
<h1>Three Card Poker</h1>
<img src="img/cards/{{card1}}" data-card="">
<img src="img/cards/{{card2}}" data-card="players-card">
<img src="img/cards/{{card3}}" data-card="players-card">
</div>